@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
    color: #424143;
    font: normal normal 400 14px/20px 'Roboto', sans-serif;
}

.button {
    padding: 10px;
    background-color: #f37f21;
    border: 4px #f37f21 solid;
    border-radius: 10px;
    margin: 40px 0;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out .1s;
    font-weight: 700;
}

.button:hover {
    background-color: #fff;
    border-color: #b2bb35;
    color: #b2bb35;
}

#homeButton {
    position: fixed;
    top: 0;
    left: 10px;
}

#printButton {
    position: fixed;
    top: 0;
    right: 10px;
}


#nav {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f37f21;
}

#ngLogo {
    background: url(nglogo.png) no-repeat center;
    background-size: contain;
    height: 50px;
    width: 150px;
    display: block;
}

.nav-text {
    font: normal normal 700 30px/30px 'Roboto', sans-serif;
}


#form {
    width: 1200px;
    margin: 20px  auto;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #f37f21;
}

#form > h1 {
    margin: 40px 0px;
    font: normal normal 700 24px/24px 'Roboto', sans-serif;
}

.input-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#input-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


#input-group label {
    margin: 10px 0;
    width: 100%;
    font-weight: bold;
    text-decoration: underline;
}

#input-group input {
    margin-bottom: 20px;
    width: 100%;
}

.checkbox-text {
    font-weight: bold;
    text-decoration: underline;
    margin: 10px 0;
}

#box-wrapper {
    width: 620px;
}

#output {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    background-size: contain;
    height: 150px;
    max-width: 100%;
    width: 250px;
}

.ngLogo {
    background: url(nglogo.png) no-repeat center;
    background-size: contain;
    height: 150px;
    max-width: 100%;
    width: 250px;
}

.footer-wrapper{
    border-top: 10px solid #f37f21;
    width: 100%;
    height: 200px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    position: relative;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-copy {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 8px;
    color: #000;
    margin: 0;
    width: 100%;
    text-align: center;
}

.page-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 1123px;
    height: 1587px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 136px;
}

.page-wrapper h1 {
    font: normal normal 700 90px/130px 'Roboto', sans-serif;
    padding: 0px 100px 0px 60px;
    margin: 0;
    /* height: 290px; */
}

.page-wrapper h2 {
    font: normal normal 400 60px/80px 'Roboto', sans-serif;
    padding: 0px 60px;
    /* height: 190px; */
    margin: 60px 0px !important;
    margin: 0;
}

.contact-wrapper {
    background-color: #f37f21;
    border-radius: 0px 60px 60px 0px;
    padding: 20px 100px 20px 60px;
    position: absolute;
    bottom: 300px;
    left: 0;
    max-width: 70%;
}

.contact-wrapper h3 {
    font: normal normal 700 50px/70px 'Roboto', sans-serif;
    margin-top: 0;
}

.url {
    position: relative;
    font: normal normal 700 40px/40px 'Roboto', sans-serif;
    margin-left: 80px;
    margin-top: 0;
}

.url::before {
    background: url(web.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: -5px;
    left: -80px;
    height: 60px;
    width: 60px;
    content: " ";
}

.phone {
    position: relative;
    font: normal normal 700 40px/40px 'Roboto', sans-serif;
    margin-left: 80px;
    margin-top: 0;
}

.phone::before {
    background: url(phone.png) no-repeat center center;
    background-size: contain;
    position: absolute;
    top: -5px;
    left: -80px;
    height: 60px;
    width: 60px;
    content: " ";
}

#lang-checkbox-group {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cbwrapper {
    width: 100px;
    margin: 5px 0;
}

.small-form {
    width: 250px !important;
    position: fixed;
    top: 100px;
    left: 10px;
}

.small-form .flex-wrapper {
    width: auto !important;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1000px;
}


/* Language Specific CSS */
.BE .contact-wrapper h3 {
    font: normal normal 400 35px/55px 'Roboto', sans-serif;
}

.BE h1 {
    font: normal normal 700 60px/80px 'Roboto', sans-serif;
}

.BG h1 {
    font: normal normal 700 70px/90px 'Roboto', sans-serif;
}

.DA h1 {
    font: normal normal 700 70px/90px 'Roboto', sans-serif;
}

.DE .contact-wrapper h3 {
    font: normal normal 400 35px/55px 'Roboto', sans-serif;
}

.EL .contact-wrapper h3 {
    font: normal normal 400 35px/55px 'Roboto', sans-serif;
}

.EL h1 {
    font: normal normal 700 70px/90px 'Roboto', sans-serif;
}

.ES h1 {
    font: normal normal 700 70px/90px 'Roboto', sans-serif;
}

.ES .contact-wrapper h3 {
    font: normal normal 400 35px/55px 'Roboto', sans-serif;
}

.ET .contact-wrapper h3 {
    font: normal normal 400 35px/55px 'Roboto', sans-serif;
}

.FI .contact-wrapper h3 {
    font: normal normal 400 35px/55px 'Roboto', sans-serif;
}

.FR h1 {
    font: normal normal 700 70px/90px 'Roboto', sans-serif;
}

.HR h1 {
    font: normal normal 700 70px/90px 'Roboto', sans-serif;
}

.HU .contact-wrapper h3 {
    font: normal normal 400 35px/55px 'Roboto', sans-serif;
}

.HY h1 {
    font: normal normal 700 70px/90px 'Roboto', sans-serif;
}

.HY h2 {
    font: normal normal 400 50px/70px 'Roboto', sans-serif;
}

.ID h2 {
    font: normal normal 400 50px/70px 'Roboto', sans-serif;
}

.ID h1 {
    font: normal normal 700 70px/90px 'Roboto', sans-serif;
}

.ID .contact-wrapper h3 {
    font: normal normal 400 35px/55px 'Roboto', sans-serif;
}

.KA h2 {
    font: normal normal 400 40px/60px 'Roboto', sans-serif;
}

.KA .contact-wrapper h3 {
    font: normal normal 400 35px/55px 'Roboto', sans-serif;
}

.ML h1 {
    font: normal normal 700 60px/80px 'Roboto', sans-serif;
}

.ML h2 {
    font: normal normal 400 40px/60px 'Roboto', sans-serif;
}

.ML .contact-wrapper h3 {
    font: normal normal 400 35px/55px 'Roboto', sans-serif;
}

.PT h1 {
    font: normal normal 700 70px/90px 'Roboto', sans-serif;
}

.PT h2 {
    font: normal normal 400 50px/70px 'Roboto', sans-serif;
}

.PT .contact-wrapper h3 {
    font: normal normal 400 35px/55px 'Roboto', sans-serif;
}

.TA h1 {
    font: normal normal 700 70px/90px 'Roboto', sans-serif;
}

.TA h2 {
    font: normal normal 400 40px/60px 'Roboto', sans-serif;
}

.TA .contact-wrapper h3 {
    font: normal normal 400 30px/50px 'Roboto', sans-serif;
}

.TA h2 {
    font: normal normal 400 50px/70px 'Roboto', sans-serif;
}
